<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="nav" id="nav">
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid ms-5 me-5">
            <a class="navbar-brand" href="#">MemberBoard</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/member/save">회원가입</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/board">글목록</a>
                    </li>
                    <li th:if="${session.loginEmail==null}" class="nav-item" >
                        <a class="nav-link" href="/member/login">로그인</a>
                    </li>
                    <li th:unless="${session.loginEmail==null}" class="nav-item">
                        <a class="nav-link" href="/member/logout">로그아웃</a>
                    </li>
                </ul>
<!--                <script>-->
<!--                    const loginArea = document.getElementById("login-area");-->
<!--                    const loginEmail = [[${session.loginEmail}]];-->
<!--                    console.log(loginEmail);-->
<!--                    if (loginEmail != null) {-->
<!--                        // 로그인 했음-->
<!--                        loginArea.innerHTML = "<a href='/mypage'>" + loginEmail + "님 환영해요!</a>" +-->
<!--                            "<a href='/logout'>logout</a>";-->
<!--                    } else {-->
<!--                        // 로그인 안했음-->
<!--                        loginArea.innerHTML = "<a href='/member/login'>로그인</a>";-->
<!--                    }-->
<!--                </script>-->
                <form action="/board" method="get" class="d-flex" role="search">
                    <select name="type" class="form-select me-2 w-50">
                        <option value="boardWriter">작성자</option>
                        <option value="boardTitle">제목</option>
                    </select>
                    <input class="form-control me-2 w-auto" type="search" name="q" placeholder="검색어를 입력하세요"
                           aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</div>

</body>
</html>